name: Link Checker

on: [push, pull_request]

jobs:
  link-checker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@main
      - name: Check Links
        uses: lycheeverse/lychee-action@v2.0.2
        with:
          fail: true
