name: Lint Checker

on: [push, pull_request]

jobs:
  lint-checker:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      statuses: write
      checks: write
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Check Code
        uses: super-linter/super-linter@v8.5.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VALIDATE_GO: true
          VALIDATE_RUBY: true
          VALIDATE_JSON: true
          VALIDATE_YAML: true
          VALIDATE_KOTLIN: true
          VALIDATE_MARKDOWN: true
          VALIDATE_SCALAFMT: true
          VALIDATE_RUST_2021: true
          VALIDATE_RUST_CLIPPY: true
          VALIDATE_PYTHON_RUFF: true
          VALIDATE_PYTHON_BLACK: true
          FIX_PYTHON_BLACK: true
          VALIDATE_PYTHON_ISORT: true
          VALIDATE_CLANG_FORMAT: true
          VALIDATE_JAVASCRIPT_ES: true
          VALIDATE_JSON_PRETTIER: true
          VALIDATE_YAML_PRETTIER: true
          VALIDATE_MARKDOWN_PRETTIER: true
          VALIDATE_GOOGLE_JAVA_FORMAT: true
